html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

#encabezado{
    background-color:#302f2f;
    color: aliceblue;
    display: grid;
    grid-template-columns: 3fr  2fr;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

#encabezado img{
    width: 125px;
    height: 125px;
    aspect-ratio: 1 / 0.8;
}

h1{
    font-size: 3.5em;
    text-align: center;
}


#navegacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.3em;
    gap: 0.3em;
}

#navegacion a{
    padding: 0.3em;
    text-decoration: none;
    font-size: 1.3em;
    color: #d4af37;
    background-color: rgb(255, 255, 255);
    text-align: center;
}